name: NET Unit Tests

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  unit_tests:
    runs-on: windows-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore .NET packages
        run: dotnet restore tests/AppAmbitTest.csproj

      - name: Run MAUI unit tests
        run: dotnet test tests/AppAmbitTest.csproj --configuration Release --no-restore --results-directory ./tests/TestResults --logger "trx;LogFileName=net-unit-tests.trx"

      - name: Upload test report
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: net-unit-tests-results
          path: tests/TestResults/net-unit-tests.trx
